main {
    padding: 30px 0px 70px 0px;
}
main header {
    width: fit-content;
    margin: 0 auto;
}
main #main-container {
    padding-top: 50px;
    width: 1000px;
    margin: 0 auto;
}
main #main-container #input-form {
    padding-top: 100px;
    padding-bottom: 140px;
}